[MASTER]
max-line-length=256

[FORMAT]
max-args=6

[MESSAGES CONTROL]
disable=missing-docstring,
    too-few-public-methods,
    invalid-name,no-member,
    logging-fstring-interpolation,
    import-error,wrong-import-order,
    wildcard-import